<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<dubbo:service interface="com.zlebank.zplatform.payment.order.service.OrderService" ref="orderService" retries="0" version="1.0" timeout="60000"/>
	<dubbo:service interface="com.zlebank.zplatform.payment.quickpay.service.QuickPayService" ref="quickPayService" retries="0" version="1.0" timeout="60000"/>
	<dubbo:service interface="com.zlebank.zplatform.payment.order.service.QueryService" ref="queryService" retries="0" version="1.0"/>
	<dubbo:service interface="com.zlebank.zplatform.payment.quickpay.service.RealTimeInsteadPayService" ref="realTimeInsteadPayService" retries="0" version="1.0" timeout="60000"/>
	<dubbo:service interface="com.zlebank.zplatform.payment.realname.service.RealNameCardService" ref="realNameCardService" retries="0" version="1.0" timeout="60000"/>
	<dubbo:service interface="com.zlebank.zplatform.payment.accpay.service.AccountPayService" ref="accountPayService" retries="0" version="1.0" timeout="60000"/>
	<dubbo:reference interface="com.zlebank.zplatform.trade.acc.service.TradeAccountingService" id="tradeAccountingService" retries="0" version="1.0" timeout="40000"/>
	<dubbo:reference interface="com.zlebank.zplatform.risk.service.TradeRiskControlService" id="tradeRiskControlService" retries="0" version="1.0" timeout="40000"/>
	<dubbo:reference interface="com.zlebank.zplatform.member.individual.service.MemberBankCardService" id="memberBankCardService" retries="0" version="1.0" timeout="40000"/>
	<dubbo:reference interface="com.zlebank.zplatform.fee.service.TradeFeeService" id="tradeFeeService" retries="0" version="1.0" timeout="40000"/>
</beans>